// *** FOOTER PARTIAL ***

footer{
  width: 100vw;
  padding: 210px 0px;


  background: url('media/imgs/atom-rocket.svg') no-repeat #2C2A2B;
  background-position: calc(50% + 380px) 60px;

  border-top: 1px solid #1A191A;
  @include basic-flex(center, center);

  #footer-content{
    width: $content-width;
    @include basic-flex(space-between, flex-start);

    #footer-content-left{
      width: 50%;
      height: 275px;
      padding: 20px 100px 0 0;
      box-sizing: border-box;
      @include basic-flex(space-between, flex-start, column);

      div{
        @extend %button;
      }//div
    }//footer-content-left

    #footer-content-right{
      width: 50%;
      height: 285px;
      padding: 20px 0 0 100px;
      @include basic-flex(space-between, flex-start, column);

      #footer-content-right-uls{
        width: 100%;
        @include basic-flex(flex-start, flex-start);


        ul{
          line-height: 1.7em;
          padding-bottom: 35px;
          li{
            font-size: 0.99em;
            padding-right: 35px;
            color: $atom-tan;
            letter-spacing: 0.04em;
          }
          a{
            color: #FFD152;

            &:hover{
              color: $hover-color;
            }//hover
          }//a
        }//ul
      }//footer-content-right-uls
    }//footer-content-right
  }//footer-content
}//footer
