// *** FOOTER PARTIAL ***

footer{
  width: 100vw;
  padding: 205px 0px;


  background: url('media/imgs/atom-rocket.svg') no-repeat #2C2A2B;
  background-position: calc(50% + 380px) 60px;

  border-top: 1px solid #1A191A;
  @include basic-flex(center, center);

  #footer-content{
    width: $content-width;
    @include basic-flex(center, center);

    #footer-content-left{

    }

    #footer-content-right{

    }
  }
}
