// *** SUB FOOTER PARTIAL ***

#sub-footer{
  height: 55px;
  width: 100vw;
  background-color: #EFEAE1;
  @include basic-flex(center, center);

  #sub-footer-content{
    height: 55px;
    width: $content-width;
    @include basic-flex(space-between, center);

    #sub-footer-content-left{
      ul{
        @include basic-flex(space-between, center);
        li{
          a{
            color: #574c4f;
            padding-right: 19px;
            font-size: 16px;
          }
        }//li
      }//ul
    }//sub-footer-content-left

    #sub-footer-content-right{
      img{
        padding-top: 3px;
      }
    }//sub-footer-content-right
  }//sub-footer-content
}//sub-footer
